GEMINI_API_KEY=AIzaSyBjrchy1QlK7staln8rLWEiluT40z2Zbuk
SUPABASE_URL=https://iygdwzjuronrpqdymoic.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5Z2R3emp1cm9ucnBxZHltb2ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MDUyMjQsImV4cCI6MjA5Mzk4MTIyNH0.EkBOf0kHPDbxp3oEcNxpSuaLiVh7sypPSxNOOyVl-gM